<div *ngIf="art$|async as art;else loading">
    <h1>{{art.title}}</h1>
    <div class="grid">
        <img src="https://www.artic.edu/iiif/2/{{art.image_id}}/full/843,/0/default.jpg"
            onerror="this.onerror=null; this.remove();">
        <div class="details">
            <ul>
                <li>
                    Author: {{art.author}}
    
                </li>
                <li>
                    Country: {{art.place_of_origin}}
    
                </li>
                <li>
                    Type: {{art.type}}
                </li>

                <li class="tags">
                    Tags: 
                    <a *ngFor="let tag of art.term_titles">{{tag}}</a>  
                </li>
            </ul>
        </div>
    </div>    
</div>

<ng-template #loading>
  Loading art piece...
</ng-template>


